.btn-container {
  padding: 10px;
  /* border: 1px solid red; */
}
.button {
  height: 40px;
  width: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #c59d5f;
  color: white;
  text-align: center;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}
