.btn-container {
  padding: 10px;
  display: flex;
  padding: 20px 10px 20px;
  justify-content: center;
}
.button {
  height: 40px;
  width: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #c59d5f;
  color: white;
  text-align: center;
  margin-left: 30px;
  border: none;
  cursor: pointer;
}
