.search-form {
  margin: 0 20px;
  padding: 10px 0 20px 20px;
  /* border: 1px solid red; */
}
.form-bar {
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 100%;
  border: transparent;
  max-width: 40%;
  background: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: hsl(209, 34%, 30%);
  letter-spacing: 0.1rem;
}
