@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

.navbar {
  display: flex;
  align-items: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-left: 25px;
  /* border: 1px solid red; */
}
.header-nav {
  margin: 0;
  padding: 0;
}
.links {
  margin: 10px;
}
.navbar__title {
  margin-right: auto;
  font-size: 20px;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  color: #c59d5f;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header-nav {
    font-size: 20px;
  }
}
