@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #f1f5f8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0;
  margin: 0 44px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .container {
    margin: auto;
    justify-content: center;
  }
}
